/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/

/* https://css-tricks.com/an-interview-with-elad-shechter-on-the-new-css-reset/#top-of-site */

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    Remove list styles (bullets/numbers)
    in case you use it with normalize.css
  */
ol,
ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* --------------------------------------- */

/* Global Styling */

@font-face {
  font-family: "Bebas";
  /* Jumps back to index via ../ */
  src: url("../fonts/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: "OTR";
  /* Jumps back to index via ../ */
  src: url("../fonts/OTRtypeGX.ttf");
}

@font-face {
  font-family: "Generation-Mono";
  /* Jumps back to index via ../ */
  src: url("../fonts/Generation-Mono.otf");
}

@font-face {
  font-family: "kabel-black";
  /* Jumps back to index via ../ */
  src: url("../fonts/kabel-black.otf");
}

:root {
  /* Setting custom properties for all the colours used in the project */
  --primary-color: #fffefe;
  --secondary-color: #b1d4e0;
  --tertiary-color: #145da0;
  --text-color: #2d3433;
  --hero-colour: #ffac47;

  /* Setting custom properties for all the fonts used in the project */
  --hero-font: "kabel-black";
  --heading-font: "Bebas";
  --primary-font: "Koulen", cursive;
  --secondary-font: "Montserrat", sans-serif;

  --largest: 12rem;
  --large: 6rem;
  --medium: 4rem;
  --small: 2rem;
}

html {
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  padding-top: 65px;
}

h1 {
  font-family: var(--hero-font);
  color: var(--hero-colour);
}

h2,
h3 {
  font-family: var(--heading-font);
  color: var(--text-color);
}

h1 {
  font-size: var(--largest);
}

h2 {
  font-size: var(--large);
}

h3 {
  font-size: var(--medium);
}

body {
  background-color: var(--primary-color);
  font-family: var(--secondary-font);
}

/* --------------------------------------- */

/* Header */

header {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: flex-start;
  justify-content: space-between;
  padding: 0px 2 0px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: var(--secondary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

#nav-links {
  width: 70%;
}

#nav-buttons {
  width: 20%;
}

#login-button,
#signup-button {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  font-family: var(--hero-font);
  font-size: var(--small);
}

#login-button:hover,
#signup-button:hover {
  background-color: var(--primary-color);
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav li a {
  font-family: var(--heading-font);
  font-size: var(--small);
  font-weight: 600;
  transition: 1s ease;
  color: var(--text-color);
}

nav li a:hover {
  color: var(--hero-colour);
}

/* --------------------------------------- */

/* Hero */

#hero {
  /* overriding general section padding */
  padding: 0;
}

#hero-image {
  height: 100%;
  position: relative;
  background-image: url("../images/hero.jpg");
  background-position: center;
  background-size: cover;
}

.hero-text {
  position: absolute;
  top: 50%;
  right: 10%;
}

/* --------------------------------------- */

/* About Us */

#about-us-content-container {
  display: flex;
  justify-content: space-around;
}

#about-us-content-container div {
  height: 50%;
  width: 50%;
  margin: 10px;
  border: solid 1px black;
}

#about-us-content-container div p {
  margin: 20px;
}

#about-us-image {
  position: relative;
  background-image: url("../images/two-men-in-water.jpg");
  background-position: center;
  background-size: cover;
}

/* --------------------------------------- */

/* Equipment */

#equipment {
  text-align: center;
}

#equipment-content-container {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.equipment-content-card {
  height: 80%;
  margin: 20px;
  border: solid var(--text-color) 1px;
  border-radius: 10px;
}

/* --------------------------------------- */

/* Ocean */

#ocean {
  text-align: center;
}

#spot-types-container {
  height: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.spot-type {
  height: 500px;
  width: 500px;
  border-radius: 5px;
  position: relative;
  background-position: center;
  background-size: cover;
  transition-property: all;
  transition-duration: 1s;
}

.spot-type:hover {
  transform: scale(1.02);
  opacity: 0.1;
}

.spot-type-description {
  height: 100%;
  width: 100%;
  opacity: 0;
  transition-property: all;
  transition-duration: 1s;
}

.spot-type-description:hover {
  opacity: 1;
}

#reef {
  background-image: url("/images/ocean/reef.jpg");
}

#point {
  background-image: url("/images/ocean/point.jpg");
}

#beachbreak {
  background-image: url("/images/ocean/beachbreak.jpg");
}

.spot-type-title {
  position: absolute;
  color: white;
  top: 60%;
  right: 10%;
}

/* --------------------------------------- */

/* Manouvers */

#manoeuvres {
  text-align: center;
}

#manoeuvres-grid-container {
  display: grid;
}
