/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/

/* https://css-tricks.com/an-interview-with-elad-shechter-on-the-new-css-reset/#top-of-site */

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    Remove list styles (bullets/numbers)
    in case you use it with normalize.css
  */
ol,
ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* --------------------------------------- */

/* Global Styling */

@font-face {
  font-family: "Bebas";
  /* Jumps back to index via ../ */
  src: url("../fonts/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: "OTR";
  /* Jumps back to index via ../ */
  src: url("../fonts/OTRtypeGX.ttf");
}

@font-face {
  font-family: "Generation-Mono";
  /* Jumps back to index via ../ */
  src: url("../fonts/Generation-Mono.otf");
}

@font-face {
  font-family: "kabel-black";
  /* Jumps back to index via ../ */
  src: url("../fonts/kabel-black.otf");
}

:root {
  /* Setting custom properties for all the colours used in the project */
  --primary-color: #fffefe;
  --secondary-color: #b1d4e0;
  --tertiary-color: #145da0;
  --text-color: #242726;
  --hero-colour: #ffd5a2;
  --contrast-saturated: #ff991d;
  --contrast-desaturated: #fffcf9;

  /* Setting custom properties for all the fonts used in the project */
  --hero-font: "kabel-black";
  --heading-font: "Bebas";
  --primary-font: "Koulen", cursive;
  --secondary-font: "Montserrat", sans-serif;

  --largest: 10rem;
  --large: 6rem;
  --medium: 4rem;
  --small: 2rem;
  --body-text: 1rem;
}

html {
  scroll-behavior: smooth;
}

section {
  border: red 1px solid;
  min-height: 100vh;
  padding-top: 100px;
}

h1 {
  font-family: var(--hero-font);
  color: var(--hero-colour);
}

h2,
h3 {
  font-family: var(--heading-font);
  color: var(--text-color);
}

h1 {
  font-size: var(--largest);
}

h2 {
  font-size: var(--large);
}

h3 {
  font-size: var(--medium);
}

body {
  background-color: var(--contrast-desaturated);
  font-family: var(--secondary-font);
}

/* --------------------------------------- */

/* Header */

header {
  min-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: flex-start;
  justify-content: space-between;
  padding: 0px 2 0px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: var(--secondary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 80px;
}

#nav-flex-container {
  width: 100%;
  display: flex;
}

#nav-links {
  height: 100%;
  width: 70%;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav li a {
  font-family: var(--hero-font);
  font-size: var(--small);
  font-weight: 600;
  transition: 1s ease;
  color: var(--text-color);
}

nav li a:hover {
  color: var(--hero-colour);
}

sl-progress-bar {
  position: sticky;
  top: 80px;
  z-index: 99;
}

.hamburger-menu {
  position: absolute;
  top: 10px;
  right: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 25px;
}

.hamburger-menu .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* --------------------------------------- */

/* Hero */

#hero {
  /* overriding general section padding */
  padding: 0;
  display: block;
  /* needs a height for the background image to display */
  height: 100vh;
}

#hero-image {
  height: 100%;
  position: relative;
  background-image: url("../images/hero.jpg");
  background-position: center;
  background-size: cover;
}

.hero-text {
  position: absolute;
  top: 40%;
  left: 10%;
}

/* --------------------------------------- */

/* About Us */

#about-us {
  text-align: center;
}

#about-us h2 {
  color: var(--text-color);
}

#about-us-content-container {
  display: flex;
  justify-content: space-around;
  border: solid 1px black;
  max-width: 1200px;
  padding-top: 50px;
  margin: 0 auto;
}

#about-us-content-container div {
  height: 50%;
  width: 50%;
  margin: 10px;
  /* border: solid 1px black; */
}

#about-us-content-container div p {
  color: var(--text-color);
  margin: 20px;
  text-align: left;
}

#about-us-image img {
  border-radius: 3px;
  max-width: 500px;
}

/* --------------------------------------- */

/* Equipment */

#equipment {
  text-align: center;
}

#equipment-content-container {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.equipment-content-card {
  position: relative;
  height: 600px;
  width: 400px;
  margin: 20px;
  border: solid lightgrey 1px;
  border-radius: 10px;
}

.equipment-content-card img {
  position: absolute;
  height: 390px;
  left: 10%;
  bottom: 65px;
  width: 80%;
}

.equipment-content-card p {
  text-align: left;
  padding: 0 1.5rem;
  font-size: 0.9rem;
}

.learn-more {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.learn-more:hover {
  cursor: pointer;
}

sl-dialog {
  text-align: left;
}

sl-dialog p,
ul {
  padding-top: 1rem;
}

sl-dialog li {
  list-style: circle;
}

/* --------------------------------------- */

/* Board Calculator */

#board-calculator {
  text-align: center;
}

#board-calculator-grid-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 1200px;
  min-height: 600px;
}

.board-calculator-column {
  /* properties as a flex child */
  flex: 1;
  /* properties as a flex parent */
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  border-right: solid lightgray 1px;
  padding: 20px;
}

#board-calculator-grid-container input {
  border: 1px lightgrey solid;
  border-radius: 5px;
  width: 80%;
}

#board-calculator-grid-container label {
  font-weight: bold;
}

.col-section {
  border: solid lightgrey 1px;
}

#choose-board-button {
  cursor: pointer;
}

.shortboard-recommendation,
.fish-recommendation,
.midlength-recommendation {
  display: none;
}

/* --------------------------------------- */

/* Ocean */

#ocean {
  text-align: center;
}

#spot-types-container {
  height: 100%;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.spot-type {
  height: 500px;
  width: 500px;
  border-radius: 5px;
  position: relative;
  background-position: center;
  background-size: cover;
  transition-property: all;
  transition-duration: 1s;
}

.spot-type:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.spot-type-description {
  height: 100%;
  width: 100%;
  opacity: 0;
  transition-property: all;
  transition-duration: 1s;
}

.spot-type-description:hover {
  opacity: 1;
}

#reef {
  background-image: url("/images/ocean/reef.jpg");
}

#point {
  background-image: url("/images/ocean/point.jpg");
}

#beachbreak {
  background-image: url("/images/ocean/beachbreak.jpg");
}

.spot-type-title {
  position: absolute;
  color: white;
  top: 60%;
  right: 10%;
}

/* Styling for modals */

.spot-type-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: var(--contrast-desaturated);
  text-align: left;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.spot-type-modal-close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.spot-type-modal-close-button:hover {
  cursor: pointer;
}

/* --------------------------------------- */

/* Destinations */

#destinations {
  text-align: center;
}

.section-container {
  /* this is necessary for the position: absolute descendant element */
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 20px;
}

.section-container .img-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}

/* creating the gallery image containers */
.section-container .img-container .image {
  position: relative;
  height: 275px;
  width: 375px;
  border: 5px solid #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
}

/* Styling the gallery image labels */
.section-container .img-container .image .image-label {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 0 15px;
  text-align: left;
  font-size: 26px;
  font-family: var(--primary-font);
}

/* styling each image in the gallery */
.section-container .img-container .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s linear;
}

.section-container .img-container .image img:hover {
  transform: scale(1.03);
}

.section-container .popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  height: 100%;
  width: 100%;
  /* this makes sure it sits above the progress bar */
  z-index: 100;
  display: none;
}

.section-container .popup-image span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}

.section-container .popup-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  border-radius: 5px;
  width: 750px;
  max-height: 500px;
  object-fit: cover;
}

/* --------------------------------------- */

/* Manouvers */

#manoeuvres {
  text-align: center;
}

#manoeuvres-grid-container {
  display: grid;
}

/* --------------------------------------- */

/* Media Queries */

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
  /* font sizes */
  :root {
    --largest: 5rem;
    --large: 3rem;
    --medium: 2.5rem;
    --small: 1.25rem;
    --body-text: 0.7rem;
  }

  /* Nav bar responsiveness --------- */
  sl-progress-bar {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }

  .hamburger-menu:hover {
    cursor: pointer;
  }

  nav ul {
    display: none;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    height: 100%;
    width: 100%;
  }

  #nav-flex-container {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
  }

  #nav-links,
  #nav-button {
    width: 100%;
    height: 100%;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
  }

  nav ul {
    text-align: center;
  }

  nav ul li a {
    padding: 0.5rem 1rem;
  }

  #nav-links.active {
    display: flex;
  }

  /* Hero section responsiveness --------- */

  /* About us responsiveness --------- */
  #about-us-content-container {
    flex-direction: column;
  }

  #about-us-content-container div {
    height: 50%;
    width: 80%;
    margin: 0 auto;
    border: solid 1px black;
  }

  #about-us-content-container div p {
    color: var(--text-color);
    margin: 20px;
    text-align: left;
  }

  #about-us-image img {
    border-radius: 3px;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  /* Equipment responsiveness */

  #equipment-content-container {
    flex-direction: column;
    align-items: center;
  }

  /* Board Calculator responsivenesss */
  #board-calculator-grid-container {
    flex-direction: column;
  }

  /* Spot types responsiveness */

  /* Image gallery responsiveness */
  .section-container .popup-image img {
    width: 95%;
  }
}

@media screen and (max-width: 1023px) {
  :root {
    --largest: 7rem;
    --large: 4rem;
    --medium: 3rem;
    --small: 1.5rem;
    --body-text: 0.8rem;
  }
}
